body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,29,189,1) 44%, rgba(0,212,255,1) 93%);
}


.App {
  margin-top: 100px;
  text-align: center;
width: 100%;
display: flex;
justify-content: center;
 
}

.glass{
  background-color: rgba(164, 169, 252, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 10px;
   width: 50%;

}




